body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
}
input{
    background-color: black;
    color: blanchedalmond;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    left: 18cm;
}